<div id="banner" class="center">
    <div class="banner_main row centerY">
        <div class="banner_contents pcm-6 mb-8 center">
            <div>
                <h2>Blog</h2>
                <div class="banner_pages">
                    <i class="fa-regular fa-house red"></i>
                    <span class="banner_pages_home">Home</span>><span class="banner_pages_to">Blog Details</span>

                </div>

            </div>

        </div>
        <div class="banner_big_img pcm-6 mb-4 center">
            <img src="./assets/images/Screenshot 2025-08-06 143915.png" alt="" width="100%" height="130%">
        </div>

    </div>
</div>