<footer id="footer">
    <div class="footer_top row">
        <div class="footer_col1 pcm-4 mb-4 right">
            <div class="footer_col1_item">
                <h3 class="footer_col1_heading white">
                    <i class="fa-solid fa-house-chimney red"></i>
                    Reanty<span class="red">.</span>
                </h3>
                <p class="footer_col_text">
                    With over 1 million homes for sale available on the website.
                </p>

                <div class="footer_col1_social">
                    <a href="#" class="social_item">
                        <i class="fa-brands fa-linkedin-in red"></i>
                    </a>
                    <a href="#" class="social_item">
                        <i class="fa-brands fa-facebook-f red"></i>
                    </a>
                    <a href="#" class="social_item">
                        <i class="fa-brands fa-twitter red"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="footer_col2 pcm-3 mb-4 row">
            <div class="footer_col2_one pcm-4 md-4">
                <h4 class="footer_col2_heading white">Company</h4>
                <ul class="footer_col2_list listStyleNone">
                    <li class="footer_col2_item"><a href="">About</a></li>
                    <li class="footer_col2_item"><a href="">Careers</a></li>
                    <li class="footer_col2_item"><a href="">Mobile</a></li>
                    <li class="footer_col2_item"><a href="">Blog</a></li>
                    <li class="footer_col2_item"><a href="">How we work?</a></li>
                </ul>
            </div>
            <div class="pcm-4 md-4">
                <h4 class="footer_col2_heading white">Contact</h4>
                <ul class="footer_col2_list listStyleNone">
                    <li class="footer_col2_item"><a href="">Help/FAQ</a></li>
                    <li class="footer_col2_item"><a href="">Press</a></li>
                    <li class="footer_col2_item"><a href="">Affiliates</a></li>
                    <li class="footer_col2_item"><a href="">Propert owners</a></li>
                    <li class="footer_col2_item"><a href="">Partners</a></li>
                </ul>
            </div>
            <div class="pcm-4 md-4">
                <h4 class="footer_col2_heading white">More</h4>
                <ul class="footer_col2_list listStyleNone">
                    <li class="footer_col2_item"><a href="">Land fees</a></li>
                    <li class="footer_col2_item"><a href="">Property</a></li>
                    <li class="footer_col2_item"><a href="">Law tips</a></li>
                    <li class="footer_col2_item"><a href="">Nadges</a></li>
                    <li class="footer_col2_item"><a href="">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_col3 pcm-5 mb-4">
            <div class="footer_col3_item">
                <div class="footer_col3_office">
                    <h4 class="footer_col2_heading white">
                        Head Office
                    </h4>
                    <p class="footer_col3_office_text">
                        Xilliams Corner Wine © 2017. 1112 A Market St # Ste B22, Charlottesville, CA 45565
                    </p>
                </div>
                <div class="footer_col3_sendMail">
                    <h4 class="footer_col2_heading white">
                        New letter
                    </h4>
                    <form action="" class="footer_col3_form row">
                        <input type="email" name="email" id="" placeholder="Enter your email address"><br>
                        <i class="fa-regular fa-envelope red"></i>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="footer_center row">
        <div class="pcm-4 mb-4 footer_center_col1 center">
            <div class="footer_center_col1_heading">
                email@gmail.com
                <div></div>
            </div>

        </div>
        <div class="pcm-4 mb-4 footer_center_col1 center">
            <div class="footer_center_col1_heading footer_center_col1_heading2">
                (123) 456-7890
                <div></div>
            </div>

        </div>
        <div class="pcm-4 md-4 text_center footer_center_col3">
            © 2021 Aeyman Megha All rights reserved.
        </div>
    </div>
    <div class="footer_bottom"></div>
</footer>