<header id="header">
    <div class="center">
        <div class="grid wide">
            <div class="top_header row">
                <div class="pcm-6 mb-8 row">
                    <div class="top_header_email pcm-3 mb-6"><i class="fa-regular fa-envelope"></i>Info@webmail.com
                    </div>
                    <div class="pcm-9 mb-6 top_header_email"><i class="fa-solid fa-location-dot"></i>547 ns tower
                        St.
                        anglo City, USA
                    </div>
                </div>
                <div class="pcm-6 mb-4 right">
                    <div class="header_list_social">
                        <a href="">
                            <i class="fa-brands fa-facebook-f"></i>

                        </a>
                        <a href="">
                            <i class="fa-brands fa-twitter red"></i>

                        </a>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>

                        </a>
                        <a href="">
                            <i class="fa-brands fa-youtube"></i>

                        </a>
                        <a href="">
                            <i class="fa-brands fa-pinterest"></i>

                        </a>
                    </div>
                </div>
            </div>

            <div class="header_menu row centerY">
                <div class="header_logo pcm-4 mb-4"><img src="../../../assets/images/Screenshot 2025-08-06 135358.png"
                        alt="ảnh"></div>

                <nav class="pcm-8 mb-8">
                    <ul class="list_menu row listStyleNone right">
                        <li class="item_menu"><a href="#" class="red">Home <div class="underline underline_defaul">
                                </div></a></li>
                        <li class="item_menu"><a href="#">About <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#">Feature <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#">Market <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#">Services <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#">Contact <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#">Log in <div class="underline"></div></a></li>
                        <li class="item_menu"><a href="#" class="sign_up white">Sign Up</a></li>
                    </ul>


                </nav>
            </div>
        </div>

    </div>
</header>