<div id="sideBar">
    <div class="sidebar_bloger">
        <div class="center">
            <div class="bloger_img">

            </div>

        </div>
        <p class="bloger_name">William Shakespeare</p>
        <p class="bloger_job">Bloger / writter</p>
        <p class="bloger_evaluate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span>(4 Reviews)</span>
        </p>
        <div class="bloger_decription center">
            <p class="bloger_decription_item">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.Veritatis distinctio, odio
                eligendi suscipit
                reprehenderit atque

            </p>
        </div>
        <div class="social_for_bloger">
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>

            </a>
            <a href="#">
                <i class="fa-brands fa-twitter"></i>

            </a>
            <a href="#">
                <i class="fa-brands fa-instagram"></i>

            </a>
            <a href="#">
                <i class="fa-brands fa-youtube red"></i>

            </a>
            <a href="">
                <i class="fa-brands fa-pinterest"></i>

            </a>
        </div>
    </div>

    <div class="sidebar_search">
        <div class="sidebar_title">
            Search Bar
        </div>
        <div class="sidebar_searchMain">
            <input type="search" name="" id="" placeholder="Search Your Keword...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>

    <div class="sidebar_search">
        <div class="sidebar_title">
            News & Blogs
        </div>
        <div class="sidebar_blog_new row">
            <div class="blog_new_img pcm-4"></div>
            <div class="blog_new_content pcm-8 right centerY">
                <div class="blog_new_content_main">
                    <p class="content_main_description">Lorem ipsum dolor sit cing elit, sed do.</p>
                    <p><i class="fa-regular fa-calendar-days red"></i> <span>June 23, 2021</span></p>

                </div>

            </div>
        </div>

        <div class="sidebar_blog_new row">
            <div class="blog_new_img pcm-4"></div>
            <div class="blog_new_content pcm-8 right centerY">
                <div class="blog_new_content_main">
                    <p class="content_main_description">Lorem ipsum dolor sit cing elit, sed do.</p>
                    <p><i class="fa-regular fa-calendar-days red"></i> <span>June 23, 2021</span></p>

                </div>

            </div>
        </div>
        <div class="sidebar_blog_new row">
            <div class="blog_new_img pcm-4"></div>
            <div class="blog_new_content pcm-8 right centerY">
                <div class="blog_new_content_main">
                    <p class="content_main_description">Lorem ipsum dolor sit cing elit, sed do.</p>
                    <p><i class="fa-regular fa-calendar-days red"></i> <span>June 23, 2021</span></p>

                </div>

            </div>
        </div>
        <div class="sidebar_blog_new row">
            <div class="blog_new_img pcm-4"></div>
            <div class="blog_new_content pcm-8 right centerY">
                <div class="blog_new_content_main">
                    <p class="content_main_description">Lorem ipsum dolor sit cing elit, sed do.</p>
                    <p><i class="fa-regular fa-calendar-days red"></i> <span>June 23, 2021</span></p>

                </div>

            </div>
        </div>

    </div>

    <div class="sidebar_search">
        <div class="sidebar_title">
            Top Categories
        </div>
        <div class="sidebarTopCategories">
            <div class="topCategories_item row">
                <p class="topCategories_item_text">
                    Apartment & office
                </p>
                <div class="topCategories_item_amount">
                    <div class="centerY center">30</div>

                </div>
            </div>
            <div class="topCategories_item2 row">
                <p class="topCategories_item_text2">
                    Picture studio
                </p>
                <div class="topCategories_item_amount2">
                    <div class="centerY center">48</div>

                </div>
            </div>
            <div class="topCategories_item row">
                <p class="topCategories_item_text">
                    Apartment & office
                </p>
                <div class="topCategories_item_amount">
                    <div class="centerY center">23</div>

                </div>
            </div>
            <div class="topCategories_item row">
                <p class="topCategories_item_text">
                    Apartment & office
                </p>
                <div class="topCategories_item_amount">
                    <div class="centerY center">78</div>

                </div>
            </div>
            <div class="topCategories_item row">
                <p class="topCategories_item_text">
                    Apartment & office
                </p>
                <div class="topCategories_item_amount">
                    <div class="centerY center">60</div>

                </div>
            </div>

        </div>


    </div>

    <div class="sidebar_search">
        <div class="sidebar_title">
            Photo Gallery
        </div>
        <div class="sidebar_box_view">
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
            <div class="box_view_img">
                <div class="box_view_img_hover center centerY">
                    <i class="fa-solid fa-eye"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar_send">
        <div class="sidebar_send_title">
            Drop Messege
        </div>
        <form action="" class="sidebar_form">
            <div class="form_text">
                <i class="fa-regular fa-user red"></i>
                <input type="text" name="" id="" placeholder="Your Name*"><br>

            </div>
            <div class="form_text">
                <i class="fa-solid fa-envelope red"></i>
                <input type="email" name="" id="" placeholder="Your Email*"><br>

            </div>
            <div class="form_text2">
                <i class="fa-solid fa-comment red"></i>
                <textarea name="" id="" cols="30" rows="7" placeholder="Write Messege"></textarea><br>

            </div>
            <button class="sidebar_form_button">Send Messege</button>
        </form>
    </div>


    <div class="sidebar_send">
        <div class="sidebar_send_title">
            Popular Tags
        </div>
        <ul class="side_tag_list listStyleNone">
            <li>POPULAR</li>
            <li>AGENCY</li>
            <li>UX</li>
            <li>CREATIVE</li>
            <li>DELIVER</li>
            <li>OIL</li>
            <li>UX</li>
            <li>DESIGN</li>
            <li>SERVICES</li>
            <li>FINANCE</li>
            <li>CAR</li>
            <li>STRATEGY</li>
        </ul>
    </div>


    <div class="sidebar_search">
        <div class="sidebar_title">
            Follow Us
        </div>
        <div class="sidebar_list_social">
            <a href="" class="">
                <i class="fa-brands fa-facebook-f"></i>

            </a>
            <a href="" class="social_hilght">
                <i class="fa-brands fa-instagram"></i>

            </a>
            <a href="" class="">
                <i class="fa-brands fa-twitter"></i>

            </a>
            <a href="" class="">
                <i class="fa-brands fa-youtube"></i>

            </a>
            <a href="" class="">
                <i class="fa-brands fa-pinterest"></i>

            </a>

        </div>

    </div>
</div>