#banner {
    width: 100%;
    height: 450px;
    background-color: var(--color-form);
}
.banner_main {
    width: 88%;
}
.banner_contents h2 {
    font-size: 38px;
    margin-bottom: 10px;
    color: var(--color-opacity1);
}
.banner_pages {
    font-weight: 600;
    font-size: 16.5px;
    opacity: 0.9;
    letter-spacing: 1px;
}
.banner_pages_home {
    margin: 0 2px;
}
.banner_pages_to {
    margin-left: 2px;
}
#bannerImport {
    margin-top: 75px;
}
